# ----------------------------
# Python cache
# ----------------------------
__pycache__/
*.py[cod]
*$py.class

# ----------------------------
# Pytest
# ----------------------------
.pytest_cache/

# ----------------------------
# Playwright / Reports
# ----------------------------
playwright-report/
test-results/
*.html

# ----------------------------
# IDE files
# ----------------------------
.idea/
.vscode/

# ----------------------------
# Logs
# ----------------------------
*.log

# ----------------------------
# Secrets / sensitive files
# ----------------------------
credential.json
.env