# ----------------------------
# Python cache
# ----------------------------
__pycache__/
*.py[cod]
*$py.class

# ----------------------------
# Pytest
# ----------------------------
.pytest_cache/

# ----------------------------
# Playwright / reports
# ----------------------------
test-results/
*.html

# ----------------------------
# IDE files
# ----------------------------
.idea/
.vscode/

# ----------------------------
# Logs
# ----------------------------
*.log

# ----------------------------
# Secrets / sensitive files
# ----------------------------
testdata/credential.json
.env.qa
.github/
.yml
.zip